<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/feather/feather.css">
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" type="text/css" href="/static/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="~{/admin/layout/layouts::header}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="~{/admin/layout/layouts::sidebar}"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row mb-3">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold ">Создать Участника</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <form class="forms-sample" id="create-pupil-form">
                                    <div class="form-group">
                                        <label for="firstname">Имя</label>
                                        <input type="text" class="form-control" name="firstname" id="firstname"
                                               placeholder="Имя" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Фамилия</label>
                                        <input type="text" class="form-control" name="lastname" id="lastname"
                                               placeholder="Фамилия" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber">Номер телефона</label>
                                        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                               placeholder="Номер телефона" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-Mail</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                               placeholder="E-Mail" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="dateOfBirth">День рождения</label>
                                        <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                                               placeholder="День рождения" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="level">Уровень</label>
                                        <select class="form-control" name="levelId" id="level">
                                            <option value="0" selected>Не выбран</option>
                                            <option th:each="level:${levels}" th:value="${level.id}"
                                                    th:text="${level.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Логин</label>
                                        <input type="text" class="form-control" name="username" id="username"
                                               placeholder="Логин" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Пароль</label>
                                        <input type="password" class="form-control" name="password" id="password"
                                               placeholder="Пароль" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Повторите Пароль</label>
                                        <input type="password" class="form-control" name="confirmPassword"
                                               id="confirmPassword" placeholder="Повторите Пароль" required>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <div class="spinner-border text-primary" role="status" hidden
                                             id="progress-spinner">
                                            <span hidden class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Создать</button>
                                    <button class="btn btn-light">Сбросить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <div th:replace="~{/admin/layout/layouts::footer}"></div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/custom-js/general/check-notifications.js"></script>

<script src="/static/js/dashboard.js"></script>
<script src="/static/custom-js/admin/create-pupil.js"></script>
<!-- End custom js for this page-->
</body>

</html>
